@layer dropdown {

.questions {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
  padding: 0 0.8rem;
  font-size: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.page__content--service .hidden-content.show{
  max-height: 1600px;
}

.hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  padding: 0.5rem 1rem;
}

.hidden-content.show {
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height: 200px;
  margin-bottom: 1rem;
}

.hidden-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hidden-content a {
  color: var(--color-primary);
  padding: 0.2rem;
  display: inline-block;
}
.dropbtn{
  width: 15%;
  justify-self: flex-end;
  cursor: pointer;
}

svg {
      transition: transform 0.5s 0.2s;
    }

    .rotated {
      transform: rotate(-180deg);
    }

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:has(.hidden-content.show) .header {background-color: #ff770035}


@media (min-width: 1080px) {
.questions { 
  width: 60%;
    }
  }
}