@layer init { 

  .news--three {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3%;
  }

  .news-profile {
    padding: 1.2rem 0 0 1rem ;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .profile-name .less {
    font-size: 0.7rem;
  }

  .news-header h2 {
    padding: 0;
    margin: 0;
  }

  .news-profile img {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 30px;;
  }
  .news-profile p {
    margin: 0.2rem;
  }

  .news-category {
    background-color: lightcoral; /*každá kategorie má speciální barvičku*/
    border: 1px solid darkred;
    padding: 0.2em 0.5em;
    border-radius: 30px;
  }

  .news--three .news-item  {
    border-radius: 22px;
    width: 32%;
    box-shadow: 8px 10px 5px #d6d6d6;
  }
  .news--latest .news-item{
    border-radius: 22px;
    width: 100%;
    box-shadow: 8px 10px 5px #d6d6d6;
  }
  .news--three .news-info, .news--latest .news-info  {
    padding: 1.5rem;
  }

  .news--three .news-content img, .news--latest .news-content img {
    width: 100%;
    margin-bottom: -0.5rem;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    max-height: 220px;
    object-fit: cover;
  }

  .news-item {
    background-color: white;
  }

  .news--three .news-category, .news--latest .news-category {
    font-size: 0.8rem;
    opacity: 54%;
    margin: 0;
  }

  .news--all {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .news--all .news-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border: 1px solid var(--color-primary);
    width: 90%;
  }

  .news-info {
    padding: 1rem;
  }

  .news--all .news-image {
    max-height: 250px;
    object-fit: cover;
  }

  

  @media (min-width: 1080px) {
  .news--all .news-item {
    flex-direction: row;
    gap: 2rem;
  }

  .news--all .news-header {
    display: flex;
    justify-content: space-between;
  }

  .news--all .news-image {
    max-height: auto;
    width: 25%;
    object-fit: cover;
  }
  }
}