@layer init { 

  .news--three {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 3%;
  }

  .news-profile {
    padding: 1.2rem 0 0 1rem ;
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .profile-name .less {
    font-size: 0.7rem;
  }

  .news-header h2 {
    padding: 0;
    margin: 0;
  }

  .news-profile img {
    height: 3.3rem;
    width: 3.3rem;
    border-radius: 30px;;
  }
  .news-profile p {
    margin: 0.2rem;
  }

  .news-category {
    margin: 0;
    padding: 0.1em 0.7em;
    border-radius: 30px;
    display: inline-block;
  }

  .news-category[data-cat="důležité"], .filter-pole button[data-filter="důležité"].active {
    background-color: rgb(255, 159, 159);
    border: 1px solid darkred;
    color: darkred;
  }

  .news-category[data-cat="jiné"], .filter-pole button[data-filter="jiné"].active {
    background-color: lightskyblue;
    border: 1px solid darkblue;
    color: darkblue;
  }

  .news-category[data-cat="otázky"], .filter-pole button[data-filter="otázky"].active {
    background-color: rgb(222, 236, 236);
    border: 1px solid rgb(0, 127, 127);
    color: rgb(0, 114, 114);
  }

  .news-category[data-cat="blog"], .filter-pole button[data-filter="blog"].active {
    background-color: rgb(248, 220, 188);
    border: 1px solid rgb(187, 136, 6);
    color: rgb(131, 79, 5);
  }

  .filter-pole button {
    transition: all ease-in-out .2s;
  }

  .news--three .news-item  {
    border-radius: 22px;
    width: 32%;
    box-shadow: 8px 10px 5px #d6d6d6;
  }
  .news--latest .news-item{
    border-radius: 22px;
    width: 100%;
    box-shadow: 8px 10px 5px #d6d6d6;
  }
  .news--three .news-info, .news--latest .news-info  {
    padding: 1.5rem;
  }

  .news--three .news-content img, .news--latest .news-content img {
    width: 100%;
    margin-bottom: -0.5rem;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    max-height: 220px;
    object-fit: cover;
  }

  .news-item {
    background-color: white;
  }

  .news--three .news-category, .news--latest .news-category {
    font-size: 0.8rem;
    opacity: 54%;
    margin: 0;
  }

  .news--all {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }

  .news--all .news-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border: 1px solid var(--color-primary);
    width: 90%;
    margin: 1.5rem 0;
  }

  .news--all .news-info  {
    display: flex;
    gap: 5%;
  }

  .news-info {
    padding: 1rem;
  }

  .news--all h2 {
    margin: .5rem 0;
  }

  .news--all .news-image img {
    max-height: 320px;
    width: 100%;
    object-fit: cover;
  }

  .news--all .news-image {
    margin: 2rem auto;
    height: auto;
    width: 90%;
    object-fit: cover;
  }

  .news--all .news-top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-date {
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    gap: 0.2rem;
  }
  .month {
    font-family: "Lexend", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-primary);
  }
  .day {
    font-family: "Lexend", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-primary);
  }

  .news-filter {
    align-items: center;
    justify-self: end;
    display: flex;
    gap: 0.5rem;
    margin-right: 10%;
  }

  .news-rest {
    padding-right: 1rem;
    justify-self: end;
    width: 75%;
    margin-bottom: 1rem;
  }

  .news-file a {
    font-size: 1.3rem;
    display: flex;
    gap: 0.5rem;
    justify-self: end;
    margin-right: 15%;
  }

  .filter-pole button {
    margin: 0;
    width: 85px;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    display: inline-block;
  }

  button {
    border: 1px solid var(--color-primary);
    cursor: pointer;
  }


  @media (min-width: 1080px) {
  .news--all .news-item {
    flex-direction: row;
    gap: 1.5rem;
    width: 80%;
  }

  .news--all .news-top {
    width: 40%;
  }

  .news--all .news-image {
    margin: 0.5rem 0 0 0;
    height: 320px;
    width: 30%;
    object-fit: cover;
  }

  .news-rest {
    margin: 0 auto 2rem auto;
    width: 80%;
    padding-right: 0;
  }
  }
}