<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Studio Šavásana, jóga pv Jablonci. Nabízíme lekce jógy, dechová cvičení a relaxaci. Přijďte si odpočinout.">
  <meta name="keywords" content="jóga Jablonec, jóga i pro začátečníky, relaxace, dechová cvičení, studio Šavásana">
  <title>Jógové studio</title>
  <link rel="icon" href="static/img/logo.png" type="image/png">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <script src="static/js/main.js"></script>
</head>

<body class="page">

<header class="page__header">
    <!-- NAVIGACE + HAMBURGER MENU -->
    <nav class="header__nav">
        <a class="header-logo" href="index.html" aria-label="Domů">
        <img class="header-logo-img img-responsive only-mobile" src="static/img/logo.png" alt="Šavásana studio logo">
        </a>
   
        <div class="page__header-hamburger hamburger-row">
        <button class="hamburger hamburger-btn hamburger-zone" aria-label="Otevřít menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        </div>
        <div class="page__header-menu hamburger-nav hamburger-zone" id="navbar">
        <h1 class="only-desktop">ŠAVÁSÁNA <span class="fancy-text">  studio</span></h1>
        <ul class="links">
        <li class="menu menu--active only-mobile"><a href="index.html">Hlavní stránka</a></li>
        <li class="menu"><a href="/kodex/">Kodex studia</a></li>
        <li class="menu"><a href="/lekce/">Lekce</a></li>
        <li class="menu"><a href="/cenik/">Ceník</a></li>
        <li class="menu"><a href="/aktuality/">Aktuality</a></li>
        <li class="menu only-mobile"><a href="/onas/">O nás</a></li>
        <li class="menu"><a href="/lektori/">Lektoři</a></li>
        <li class="only-mobile"><a href="https://rezervujeme.cz/savasana/" class="btn btn--white btn--sign">Rezervace</a></li>
        </ul>
    </div>
   </nav>

   <!-- HEADER POZADÍ -->
   <div class="only-mobile">
   <div class="header__main">
    <div class="header-top">
      <p class="color">Vaše oblíbená jóga v srdci Jablonce.</p>
      <h1>ŠAVÁSANA
        <span class="fancy-text">studio</span>
      </h1>
    </div>
    <div class="header-bottom">
      <a href="https://rezervujeme.cz/savasana/" class="btn btn--sign">
        Rezervace</a>
      <a href="#main-page"><img src="static/img/icons/arrow.svg" alt="Ukazovací šipka"></a>
    </div>
   </div>
   </div>

   <div class="only-desktop">
    <div class="header__main">
      <h1>Jóga je více, <br> než jen fyzické cvičení.</h1>
      <p class="color">Jsme rodinné jógové studio pro lidi se zájmem <br>o zdravý pohyb. Vaše oblíbená jóga v srdci Jablonce.</p>
      <a href="https://rezervujeme.cz/savasana/" class="btn btn--sign">Rezervace</a>
    </div>
   </div>
    </div>
   </div>
  </header>

    </header>

    <main class="page__content" id="main-page">

        <h2 class="color"><span class="fancy-text">Dýchej.</span> Vše ostatní přijde samo.</h2>

        <div class="news--latest only--mobile">
        {% assign latest = collections.news | first %}
        <article class="news-item">
            {% if latest.data.image %}
            <div class="news-image">
                <img src="{{ latest.data.image }}" alt="Image">
            </div>
            {% endif %}
            
            <div class="news-content">
                <div class="news-header">
                    {% if latest.date %}
                    <p class="news-date">{{ latest.date | readableDate }}</p>
                    {% endif %}

                    <h2>{{ latest.data.title }}</h2>
                    
                    {% if latest.data.category %}
                    <p class="news-category">{{ latest.data.category }}</p>
                    {% endif %}
                </div>

                <div class="news-text">
                {{ latest.templateContent }}
                </div>
                
            </div>
        </article>
        </div>


        <div class="news-latest3 only-desktop">
        {% assign latestThree = sorted | slice: 0, 3 %}
        {% for post in latestThree %}
            <article class="news-item">
                <div class="news-content">
                    <div class="news-header">
                        {% if post.data.image %}
                        <div class="news-image">
                            <img src="{{ post.data.image }}" alt="Image">
                        </div>
                        {% endif %}

                        <h2>{{ post.data.title }}</h2>

                        {% if post.date %}
                        <p class="news-date">{{ post.date | readableDate }}</p>
                        {% endif %}

                        {% if post.data.category %}
                        <p class="news-category">{{ post.data.category }}</p>
                        {% endif %}
                    </div>

                    <div class="news-text">
                    {{ post.templateContent }}
                    </div>
                    
                </div>
            </article>
        {% endfor %}
        </div>

    </main>

    <footer>
        <p>&copy; Pražáková 2025</p>
    </footer>

    <script>
    const params = new URLSearchParams(window.location.hash.slice(1));
    if (params.has("invite_token")) {
        window.location.href = `/admin/#invite_token=${params.get("invite_token")}`;
    }
    </script>

    <script src="static/js/hamburger.js"></script>
</body>
</html>