<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Studio Šavásana, jóga pv Jablonci. Nabízíme lekce jógy, dechová cvičení a relaxaci. Přijďte si odpočinout.">
  <meta name="keywords" content="jóga Jablonec, jóga i pro začátečníky, relaxace, dechová cvičení, studio Šavásana">
  <title>Jógové studio</title>
  <link rel="icon" type="image/png" href="/static/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="//staticfavicon/favicon.svg" />
  <link rel="shortcut icon" href="/static/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="ŠAVÁSANA STUDIO" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <script src="static/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.6/ScrollTrigger.min.js"></script>

</head>

<body class="page">

<header class="page__header">
    <!-- NAVIGACE + HAMBURGER MENU -->
    <nav class="header__nav">
        <a class="header-logo" href="index.html" aria-label="Domů">
        <img class="header-logo-img img-responsive only-mobile" src="static/img/logo.png" alt="Šavásana studio logo">
        </a>
   
        <div class="page__header-hamburger hamburger-row">
        <button class="hamburger hamburger-btn hamburger-zone" aria-label="Otevřít menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        </div>
        <div class="page__header-menu hamburger-nav hamburger-zone" id="navbar">
        <h1 class="only-desktop">ŠAVÁSÁNA <span class="fancy-text">  studio</span></h1>
        <ul class="links">
        <li class="menu menu--active only-mobile"><a href="index.html">Hlavní stránka</a></li>
        <li class="menu"><a href="/kodex/">Kodex studia</a></li>
        <li class="menu"><a href="/lekce/">Lekce</a></li>
        <li class="menu"><a href="/cenik/">Ceník</a></li>
        <li class="menu"><a href="/aktuality/">Aktuality</a></li>
        <li class="menu"><a href="/lektori/">Lektoři</a></li>
        <li class="menu"><a href="/kontakt/">Kontakt</a></li>
        <li class="only-desktop"><a href="https://rezervujeme.cz/savasana/" class="btn btn--white btn--sign">Rezervace</a></li>
        </ul>
    </div>
   </nav>

   <!-- HEADER POZADÍ -->
   <div class="only-mobile">
   <div class="header__main main-m-other">
    <div class="header-top scroll">
      <p class="color">Vaše oblíbená jóga v srdci Jablonce.</p>
      <h1>ŠAVÁSANA
        <span class="fancy-text">studio</span> 
      </h1>
    </div>
    <div class="header-bottom scroll scroll2">
      <a href="https://rezervujeme.cz/savasana/" class="btn btn--sign">
        Rezervace</a>
      <a href="#main-page"><img src="static/img/icons/arrow.svg" style="opacity: 0.5;" alt="Ukazovací šipka"></a>
    </div>
   </div>
   </div>

   <div class="only-desktop">
    <div class="header__main">
      <h1 class="scroll">Jóga je více, <br> než jen fyzické cvičení.</h1>
      <p class="scroll scroll2 color">Jsme rodinné jógové studio pro lidi se zájmem <br>o zdravý pohyb. Vaše oblíbená jóga v srdci Jablonce.</p>
      <a href="https://rezervujeme.cz/savasana/" class="btn btn--sign">Rezervace</a>
    </div>
   </div>
    </div>
   </div>
  </header>

    </header>

    <main class="page__content" id="main-page">

        <h2 class="color"><span class="fancy-text">Dýchej.</span> Vše ostatní přijde samo.</h2>

        <div class="swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="article article-card">
            <img src="static/img/article1.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <h3>Jóga jako prostor pro sebe</h3>
              <p class="less">Jóga není jen cvičení na podložce. Je to tisíceletá filozofie, která propojuje tělo, dech a mysl. Učí nás zpomalit, vnímat přítomný okamžik a najít...</p>
              <a class="link" target="_blank" href="/joga/">Chci o józe vědět více</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="article article-card article-big">
            <img src="static/img/article2.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <h3>Naše cesta začala zde, vaše může taky</h3>
              <p class="less">Jsme rodinné jógové studio pro lidi se zájmem o zdravý pohyb, kteří stejně jako my vnímají, že jóga...</p>
              <a class="icon-link map less" target="_blank" href="https://maps.app.goo.gl/caBHJndX2LATne9t5">Rooseveltova 2786/3, 466 01  JBC</a>
              <a class="icon-link facebook less" target="_blank" href="https://www.facebook.com/savasanajablonec/?locale=cs_CZ">Šavásána studio</a>
              <a class="link" target="_blank" href="/lektori/#onas">Chci o vás vědět více</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="article article-card">
            <img src="static/img/article3.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <h3>Poprvé na podložce? Vše, co potřebujete vědět.</h3>
              <p class="less">Na józe je krásné, že ji může začít praktikovat kdokoliv a v jakémkoliv věku. Forem jógy je mnoho a každý si tu svou, která ho podpoří, může najít. Doporučujeme...</p>
              <a class="link" target="_blank" href="/zacatek/">Číst celý článek</a>
            </div>
          </div>
        </div>
        ...
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
        </div>

      <noscript>
        <p>Jógové studio s naučnými články o józe! Naučte se u nás základy jógy pro úplné začátečníky!</p>
      </noscript>

      <div class="only-desktop">
            <div class="article-section">
            <img src="static/img/article1.avif" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <p class="article-description color">Informativní článek</p>
              <div class="article-text-main">
                <h3>Jóga jako prostor pro sebe</h3>
                <p class="less">Jóga není jen cvičení na podložce. Je to tisíceletá filozofie, která propojuje tělo, dech a mysl. Učí nás zpomalit, vnímat přítomný okamžik a najít vnitřní rovnováhu. Ať už hledáte...</p>
              </div>
              <a href="/joga/" target="_blank" class="link color">Číst celý článek</a>
            </div>
          </div>
      </div>

    </div class="news scroll">
    <div class="only-mobile">
        <div class="news--latest">
  {% assign latest = collections.news %}
  {% for item in latest limit:1 %}
    <article class="news-item">
      <div class="news-profile">
        <img src="static/img/article2.avif" alt="Profilová fotografie, portrét">
        <div class="profile-name">
          <p class="name">Poslední aktuality</p>
          <p class="less">@Šavásana studio</p>
        </div>
      </div>

      <div class="news-content">
        <div class="news-info">
        <div class="news-header">

          <h2>{{ item.data.title }}</h2>

          {% if item.data.category %}
            <p class="news-category">{{ item.data.category }}</p>
          {% endif %}
        </div>

        <div class="news-text">
          {{ item.templateContent }}
        </div>
      </div>
        {% if item.data.image %}
        <div class="news-image">
          <img src="{{ item.data.image }}" alt="Image">
        </div>
      {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
</div>

    <div class="only-desktop scroll">
        <div class="news--three">
          {% assign latest = collections.news %}
          {% for item in latest limit:3 %}
          <article class="news-item">
            <div class="news-profile">
              <img src="static/img/article2.avif" alt="Profilová fotografie, portrét">
              <div class="profile-name">
                <p class="name">Poslední aktuality</p>
                <p class="less">@Šavásana studio</p>
              </div>
            </div>

            <div class="news-content">
              <div class="news-info">
              <div class="news-header">

                <h2>{{ item.data.title }}</h2>

                {% if item.data.category %}
                  <p class="news-category">{{ item.data.category }}</p>
                {% endif %}
              </div>

              <div class="news-text">
                {{ item.templateContent }}
              </div>
            </div>
              {% if item.data.image %}
              <div class="news-image">
                <img src="{{ item.data.image }}" alt="Image">
              </div>
            {% endif %}
            </div>
          </article>
          {% endfor %}
        </div>
    </div>

<a class="icon-link facebook" target="_blank" href="https://www.facebook.com/savasanajablonec/?locale=cs_CZ">Více aktualit na <span class="color"> Facebooku</span></a>
    </section>

    <div class="only-desktop">
      <div class="article-section section-bigger">
            <img src="static/img/article2.avif" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <p class="article-description color">Zajímavý článek</p>
              <div class="article-text-main">
              <h3>Naše cesta začala zde, vaše může taky</h3>
              <p class="less">Jsme rodinné jógové studio pro lidi se zájmem o zdravý pohyb, kteří stejně jako my vnímají, že jóga zdaleka není jen o cvičení ásan.</p>
              <a class="icon-link map less" target="_blank" href="https://maps.app.goo.gl/caBHJndX2LATne9t5">Rooseveltova 2786/3, 466 01  JBC</a>
              </div>
              <div class="article-footer">
                <a class="link" target="_blank" href="/lektori/#onas">Chci o vás vědět více</a>
                <div class="icons">
                  <a target="_blank" href="https://www.facebook.com/savasanajablonec/?locale=cs_CZ">
                  <img src="static/img/icons/facebook.svg" alt="Logo facebooku">
                </a>
                <a href="tel:+420606233421">
                  <img src="static/img/icons/phone.svg" alt="Ikona telefonu">
                </a>
                </div>
              </div>
            </div>
          </div>
      </div>

    <section class="service">
      <div class="service-header">
      <h2>Na co se můžete těšit</h2>
      <a class="icon-link reser only-mobile" target="_blank" href="/lekce/"><span class="color underline">Zde</span> najdete více o <span class="color">všech</span> lekcích</a>
      <a href="#" class="btn btn--sign only-desktop">Všechny lekce</a>
    </div>
      <div class="service-cardss">
        <div class="scroll article service-card">
            <div class="stars">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
            </div>
            <img src="static/img/article2.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <div class="card-header">
                <h3>Fit jóga</h3>
                <p class="lektor color">Jana Huková, Petr Huk</p>
              </div>
              <p class="less">Fit jóga vás protáhne a zahřeje. Je to příjemná kombinace relaxace se sadou obtížnějších pozic.</p>
              <a class="link" target="_blank" href="/lekce/#fit">Více o této lekci →</a>
            </div>
        </div>
        <div class="scroll scroll2 article service-card">
          <div class="stars">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
            </div>
            <img src="static/img/article2.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <div class="card-header">
                <h3>Hatha jóga</h3>
                <p class="lektor color">Zuzana Bursová</p>
              </div>
              <p class="less">Odpolední jemná praxe, která vám  dopřeje rovnováhu. Po této lekci se budete cítit jako noví.</p>
              <a class="link" target="_blank" href="/lekce/#hatha">Více o této lekci →</a>
            </div>
        </div>
        <div class="scroll scroll3 article service-card">
          <div class="stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#fff" d="m5.825 21l1.625-7.025L2 9.25l7.2-.625L12 2l2.8 6.625l7.2.625l-5.45 4.725L18.175 21L12 17.275z"/></svg>
            </div>
            <img src="static/img/article2.avif" class="image--full-responsive" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <div class="card-header">
                <h3>Yin jóga</h3>
                <p class="lektor color">Zuzana Bursová</p>
              </div>
              <p class="less">Yin jóga je klidný styl jógy, který se zaměřuje na dlouhé setrvávání v pozicích. Pro potřebné uvolnění těla.</p>
              <a class="link" target="_blank" href="/lekce/#yin">Více o této lekci →</a>
            </div>
        </div>
      </div>
    </section>

          <div class="only-desktop">
            <div class="article-section">
            <img src="static/img/article3.avif" alt="Náhledová fotografie k článku">
            <div class="article-text">
              <p class="article-description color">Naučný článek</p>
              <div class="article-text-main">
              <h3>Poprvé na podložce? Vše, co potřebujete vědět.</h3>
              <p class="less">Na józe je krásné, že ji může začít praktikovat kdokoliv a v jakémkoliv věku. Forem jógy je totiž mnoho a každý si tu svou, která ho v daný moment na jeho cestě podpoří, může najít. Doporučujeme vyzkoušet různé...</p>
              </div>
              <a class="link" target="_blank" href="/zacatek/">Číst celý článek</a>
            </div>
          </div>
          </div>

    <section class="asked">
      <h2>Často kladené otázky</h2>
      <div class="asked-main">
      <div class="questions">


          <div class="dropdown">
            <div class="header">
              <p>Je nějaké zvýhodněně vstupné?</p>
              <svg class="dropbtn" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#AD4600" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="m6 9l6 6l6-6"/></svg>
            </div>
            <div class="hidden-content">
              <p>Ano! Nabízíme <a class="color "href="/cenik/">předplacené kurzy a dárkové poukazy</a>! Při platbě kreditem v našem <a class="color" href="https://rezervujeme.cz/savasana/">rezervačním systému</a> máte automaticky vstup vyhodnější.</p>
            </div>
          </div>

          <div class="dropdown">
            <div class="header">
              <p>Kde zjistím obtížnosti lekcí?</p>
              <svg class="dropbtn" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#AD4600" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="m6 9l6 6l6-6"/></svg>
            </div>
            <div class="hidden-content">
              <p>Obtížnosti jsou vypsány buď v <a class="color "href="/lekce/">popisu lekce</a> nebo je uvidíte při <a class="color "href="https://rezervujeme.cz/savasana/">rezervaci</a> lekce.</p>
          </div>
          </div>

          <div class="dropdown">
            <div class="header">
              <p>Do kdy je možné se na lekci přihlásit?</p>
              <svg class="dropbtn" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#AD4600" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="m6 9l6 6l6-6"/></svg>
            </div>
            <div class="hidden-content">
              <p>Přihlásit se na lekci je možné až do <span class="color-b">jejího začátku</span>, pokud jsou volná místa. Pokud je obsazení zase naopak malé, je možné, že se <span class="color-b">lekce zruší</span>, zpravidla 2h před jejím začátkem. V takovém případě obdžíte email.</p>
          </div>
          </div>

          <div class="dropdown">
            <div class="header">
              <p>Pokud nakonec nemůžu, jak se odhlásím?</p>
              <svg class="dropbtn" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#AD4600" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="m6 9l6 6l6-6"/></svg>
            </div>
            <div class="hidden-content">
              <p>Nejjednoduší rušení vašich lekcí je přes náš <a class="color" href="https://rezervujeme.cz/savasana/">rezervační systém</a> nejpozději 6h před danou lekcí.</p>
          </div>
          </div>
      </div>
      <div class="only-desktop">
      <div class="contact">
        <h4>Také máte dotaz?</h4>
        <div class="contact-line"><p>Zeptejte se konkrétního lektora vaší vysněné lekce! Telefonní číslo zjístíte v sekci <a class="color" href="/lektori/">“Lektoři”</a></p></div>
        <div class="contact-line"><p>Pro všeobecné dotazy můžete využít číslo: <a class="color" href="tel:+420606233421">+420 606 233 421</a></p></div>
      </div>
      </div>
    </section>

    <div class="contact-map">
      <div class="map">
          <iframe title="Mapa s adresou Rooseveltova 2786/3, Jablonec nad Nisou" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1061.7837587986753!2d15.166820404719394!3d50.731781846035325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470ecad5272d60a5%3A0xa8c142fa2e6c6477!2sRooseveltova%202786%2F3%2C%20466%2001%20Jablonec%20nad%20Nisou%201!5e0!3m2!1scs!2scz!4v1758093633334!5m2!1scs!2scz" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="contact-links">
        <h2 class="color" style="padding-top: 0.2rem">Kde nás najdete?</h2>
          <a class="icon-link map less" target="_blank" href="https://maps.app.goo.gl/caBHJndX2LATne9t5">Rooseveltova 2786/3, 466 01 JBC</a>
          <a class="icon-link facebook less" target="_blank" href="https://www.facebook.com/savasanajablonec/?locale=cs_CZ">Šavásána studio</a>
          <a class="icon-link phone less" target="_blank" href="tel:+420606233421">+420 606 233 421</a>
          <a class="icon-link reser less" target="_blank" href="https://rezervujeme.cz/savasana/">Rezervace lekcí</a>
      </div>
    </div>

        
        <div class="footer-logo">
            <p class="h1 color">ŠAVÁSÁNA</p>
            <span class="fancy-text color">studio</span>
        </div>
    </main>

    <footer class="page__footer">
        
        <div class="footer__main">
            <div class="only-desktop">
            <div class="footer__statictics">
                <div class="footer-number">
                    <p class="big">250+</p>
                    <p>Lekcí za rok.</p>
                </div>
                <div class="footer-CTA">
                    <p>Kterou lekci si vyberete?</p>
                    <a href="https://rezervujeme.cz/savasana/" class="btn btn--white btn--sign">Rezervujte zde</a>
                </div>
            </div>
            </div>
            <a href="https://rezervujeme.cz/savasana/" class="btn btn--white btn--sign only-mobile">Rezervace</a>
            <p>Stačí udělat první krok. <span class="fancy-text">My</span> Vás povedeme dál.</p>
            <div class="only-desktop">
            <div class="footer__links">
                <div class="import-links">
                    <p class="h2">Důležité odkazy</p>
                    <a href="https://rezervujeme.cz/savasana/" class="icon-link reser">Rezervace lekcí</a>
                    <a href="/lekce/" class="icon-link service">Nabídka lekcí</a>
                    <a href="/cenik/#pronajem" class="icon-link house">Pronájem studia</a>
                </div>
                <div class="credit-links">
                    <p class="h2">Design webu</p>
                    <a href="https://www.instagram.com/nprazaak/" class="icon-link person">Nella Pražáková</a>
                    <a href="tel:+420728605509" class="icon-link phone">+420 728 605 509</a>
                    <a href="mailto:prazakovaanella@gmail.com" class="icon-link email">prazakovaanella@gmail.com</a>
                </div>
            </div>
            </div>
        
        <div class="footer__icons">
            <a href="https://www.facebook.com/savasanajablonec">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="#fff" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg>
            </a>
            <a href="tel:+420606233421">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 56 56"><path fill="#fff" d="M28 51.906c13.055 0 23.906-10.851 23.906-23.906c0-13.078-10.875-23.906-23.93-23.906C14.899 4.094 4.095 14.922 4.095 28c0 13.055 10.828 23.906 23.906 23.906m-6.117-18.07c-5.813-5.79-9.516-13.172-5.133-17.555c.258-.258.539-.515.797-.773c1.336-1.266 2.625-1.195 3.773.422l3.047 4.336c1.031 1.5.773 2.343-.328 3.515l-.961 1.055c-.351.328-.21.773-.047 1.055c.446.843 1.711 2.343 3.07 3.703c1.407 1.406 2.836 2.601 3.727 3.093c.328.188.797.235 1.102-.046l1.007-.961c1.125-1.102 2.04-1.383 3.493-.352a319 319 0 0 0 4.43 3.094c1.476 1.078 1.827 2.414.327 3.773c-.257.258-.492.54-.75.797c-4.382 4.36-11.742.656-17.554-5.156"/></svg>
            </a>
        </div>
        <p>&copy; Šavásana studio 2025, Pražáková | <a href="/zasady/" style="color: #fff">Obchodní podmínky a zásady ochrany osobních údajů</a></p>
    </div>
    </footer>

    <script>
      const hash = window.location.hash.slice(1);
      // najdi invite_token ručně
      const match = hash.match(/invite_token=([^&]+)/);
      if (match) {
          const token = match[1];
          window.location.href = `/admin/#invite_token=${token}`;
      }
      /*
      const params = new URLSearchParams(window.location.hash.slice(1));
    if (params.has("invite_token")) {
        window.location.href = `/admin/#invite_token=${params.get("invite_token")}`;
    }*/
    </script>

  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
<script>
  document.querySelectorAll('.dropdown').forEach(dropdown => {
    const btn = dropdown.querySelector('.dropbtn');
    const content = dropdown.querySelector('.hidden-content');

    btn.addEventListener('click', () => {
      content.classList.toggle('show');
      btn.classList.toggle('rotated');
    });
  });
</script>
    <script src="static/js/hamburger.js"></script>
    <script>
  document.querySelectorAll('.news-text').forEach(block => {
    const maxWords = 30;
    const text = block.innerText.trim();
    const words = text.split(/\s+/);

    if (words.length > maxWords) {
      const truncated = words.slice(0, maxWords).join(" ");
      const readMoreLink = `<a href="/aktuality/" class="color"> Číst více</a>`;
      block.innerHTML = truncated + "..." + readMoreLink;
    }
  });
</script>

<script>
  const boxes = document.querySelectorAll('.scroll');

const observer = new IntersectionObserver((entries, observer) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
      entry.target.classList.add('visible');
      observer.unobserve(entry.target); // odpozorovat, pokud chceme jednou
    }
  });
}, {
  threshold: 0.25
});

// přidat všechny boxy do observeru
boxes.forEach(box => observer.observe(box));

</script>


</body>
</html>